* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-image: url(../images/imgDashboard/dashboardBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.menu_lateral {
    width: 70px;
    background-color: #4b1d06;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-right-radius: 40px;
    z-index: 100;
    overflow: hidden;
    transition: width 0.4s ease;
}

.menu_lateral.expandido {
    width: 220px;
    align-items: flex-start;
    padding-left: 20px;

}

.opciones_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}

.opcion {
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.opcion.activa::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: -1;
}

.opcion.activa i {
    color: #4b1d06;
}

.opcion.activa .texto {
    color: #4b1d06;
}


.texto {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #ffffff;
}

.menu_lateral.expandido .texto {
    opacity: 1;
    transform: translateX(0);
}

.contenido_panel {
    margin-left: 70px;
    padding: 100px 20px 20px;
    flex-grow: 1;
    background-image: url(fondo_dashboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: margin-left 0.4s ease;
}

.menu_lateral.expandido .contenido_panel {
    margin-left: 220px;
}

.tarjetas_resumen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.tarjeta {
    background-color: #4b1d06d7;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgb(101, 47, 9);
    height: 100px;
    box-shadow: 0 2px 5px rgb(154, 66, 7);
}

.graficas_panel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grafico {
    flex: 1;
    min-width: 150px;
    background-color: #4b1d06;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(160, 55, 6, 0.938);
    width: 200px;
}

.encabezado-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #4b1d06;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.icono-menu {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icono-menu.abierto {
    transform: rotate(90deg);
}

.buscador {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 8px;
}

.buscador input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 4px;
    outline: none;
    background-color: #fff7f7f6;
    border-radius: 10px;
    transition: all 0.5s;
}

.buscador i {
    margin-left: 8px;
    font-size: 20px;
}

.iconos-derecha i {
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
}

.iconos-derecha i:hover {
    font-size: 31px;
    cursor: pointer;
    border-radius: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #d97706;
}

.buscador input:hover,
.buscador input:focus {
    border: 2px solid #803b04;
    box-shadow: 0px 0px 0px 7px rgba(179, 82, 26, 0.336);
    background-color: white;
}