/* Estilos para el contenedor de tareas */
#tarea-empleado-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow-x: hidden;
    background-color: #f7f9fc; /* o el color de fondo de tu dashboard */
    padding: 0;
    transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
    z-index: 1000;
}

/* Estilos para el estado "mostrado" */
#tarea-empleado-container.show {
    width: 70%; /* Ajusta el ancho según tu diseño */
    padding: 20px;
}

/* Opcional: Estilos para el contenido de las tareas */
#tarea-empleado-container #tareas-content {
    /* Oculta el contenido al principio para evitar que parpadee */
    display: none; 
    /* Y lo muestra con un pequeño retraso cuando la animación de ancho comienza */
    transition: opacity 0.3s ease 0.2s;
    opacity: 0;
}

/* Estilos para el estado "mostrado" */
#tarea-empleado-container.show #tareas-content {
    display: block;
    opacity: 1;
}